.iam .twofaCheck{display:inline-block}.iam .twofaCheck input{margin-right:6px}.iam .questionIcon{color:#000;font-size:13px}.iam .primaryTextBox{max-width:750px}.iam .pf-c-check{--pf-c-check__input--Height: 14px}
.iam .lockIcon{color:dimgray;font-size:64px}.iam .nonAdminDiv{text-align:center;margin-top:64px}
.iam .pf-c-page__main-section{background-color:#fff}
