.iam .pf-c-page__main-section{background-color:#fff}
.iam .pf-l-stack{--pf-l-stack--m-gutter--MarginBottom: 2rem}.iam .pf-c-wizard{--pf-c-wizard--Height: 100%}.iam .flowPage{height:100%;display:contents}.iam .hiddenPage{display:none}
.iam .configuredCard{padding:16px;max-width:600px}.iam .buttonGroup{margin-top:24px}.iam .editIcon{color:dimgray}.iam .editIcon:hover{cursor:pointer}
.iam .cubesIcon{color:dimgray;font-size:64px}.iam .notSetupDiv{text-align:center;margin-top:64px}.iam .initPage{background-color:unset}
.iam .lockIcon{color:dimgray;font-size:64px}.iam .disabledDiv{text-align:center;margin-top:64px}
